body{
    font-family: 'EB Garamond', serif;
    font-family: 'Montserrat', sans-serif;
}
#gayabulhaoya{
    position: relative;
    color: #111312;
}
#gayabulhaoya::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    border-right: 2px solid gray;
    overflow: hidden;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.shortcut-btn-up{
    position: fixed;
    bottom: 10px;
    left: 1250px;
}